@import url('./grid-card/grid-card.css');
@import url('./img-card/img-card.css');
@import url('./card-background/card-background.css');
@import url('./card-text/card-text.css');
@import url('./card-like/card-like.css');
@import url('./card-wrapper/card-wrapper.css');

.grid-cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    grid-gap: 21px 18px;
    padding-bottom: 70px;
}