.header__logo {
    width: 142px;
    margin: 45px 0 0 35px;
}

@media screen and (max-width: 767px) {
.header__logo {
    width: 104px;
    padding-top: 8%;
    padding-bottom: 10%;
    margin-top: 0;
    }
}