.grid-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-gap: 21px 18px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 767px) {
  .grid-card {
    padding-bottom: 39px;
  }
}
